/************************************************/
/*                  Contact Us                  */
/************************************************/
/*********************Header*********************/
.header {
  position: relative;
  text-align: center;
  top: 120px;
  font-family: 'Ubuntu', Tahoma, sans-serif;
}

.header h1 {
  color: black;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 4px;
  letter-spacing: 5px;
}

/**************Contact Information***************/
.info {
  position: relative;
  text-align: left;
  top: 175px;
  font-family: 'Ubuntu', Tahoma, sans-serif;
}
.info h2 {
  color: black;
  font-size: 25px;
}

.line {
  background-color: orange;
  position: relative;
  height: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.info p {
  color: #636363;
  font-size: 15px;
}

.info a {
  text-decoration: none;
  color: #006699;
}

.info a:hover {
  color: orange;
}

