/************************************************/
/*                   About Us                   */
/************************************************/
/*********************Header*********************/
.header {
  position: relative;
  text-align: center;
  top: 120px;
  font-family: 'Ubuntu', Tahoma, sans-serif;
}

.header h1 {
  color: black;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 4px;
  letter-spacing: 5px;
}

.header p {
  padding-top: 40px;
  color: #636363;
  font-size: 20px;
  padding-bottom: 10px;
}

/**********Service Descriptions Slider***********/
.line2 {
  background-color: #23263B;
  position: relative;
  height: 2px;
  margin: auto;
  width: 85%;
  max-width: 1074px;
}

.slider-nav {
  position: relative;
  text-align: center;
  margin-top: 20px;
  top: 145px;
}

.arrow-prev, .arrow-next {
  display: inline;
  vertical-align: top;
  position: relative;
  z-index: 4;
  border: none;
  background: none;
}

.arrow-prev:hover, .arrow-next:hover {
  opacity: 0.5;
  border: none;
}

.arrow-prev:focus, .arrow-next:focus {
  outline: none;
}

.arrow-prev img, .arrow-next img {
  width: 40px;
  opacity: 0.5;
}

.arrow-prev {
  visibility: hidden;
  margin-right: 20px;
}

.arrow-next {
  margin-left: 20px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}

.slider {
  position: relative;
  width: 100%;
  top: 160px;
  font-family: 'Ubuntu', Tahoma, sans-serif;
}

.slide {
  display: none;
  position: absolute;
  top: -10px;
  left: 0;
  width: inherit;
}

.active-slide {
  display: block;
  position: relative;
}

.slide img {
  display: block;
  margin: auto;
}

.slide h1 {
  color: black;
  text-align: center;
  font-size: 27px;
  padding-bottom: 25px;
}

.slide h2 {
  color: #636363;
  top: 70px;
  text-align: center;
  padding-bottom: 30px;
  font-size: 22px;
  margin: auto;
  width: 90%;
}

#logistics ul li {
  font-size: 13px;
  color: #636363;
  list-style: square;
  text-align: left;
  margin: auto;
  margin-bottom: 5px;
  width: 90%;
}

/***************Founder Biography****************/
#founder {
  position: relative;
  top: 240px;
  margin-top: 10px;
  margin-bottom: 100px;
  font-family: 'Ubuntu', Tahoma, sans-serif;
}

#founder h3 {
  color: black;
  text-align: center;
  padding-bottom: 10px;
}

.line {
  background-color: orange;
  position: relative;
  height: 2px;
  margin: auto;
  width: 90px;
}

#founder p {
  padding-top: 20px;
  color: #636363;
  margin-bottom: 0;
}

#founder img {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 150px;
  margin-top: 55px;
}